<!-- Includes -->
{% include 'default.html' %}
{% include 'nav.html' %}

{% block content %}
<body>
<div class="container-cs">
    <h1 class="container-cs">Web Radio</h1>
</div>
    <hr style="width: 90%;">
<div class="container-fluid">
    <div class="row">
        <div class="content col-md-4">
            <h3>Spelas Just nu</h3>
            <p>{{ current_station.station }}</p>
            <br>
            <br>
            <img src="{{ current_station.image }}">
        </div>
        <div class="current col-md-6">
            <form method="post" action="{{ url_for('change_channel') }}" style="padding-top: 40px;">
                <br><br>
                <div class="music-list">
                    {% for k, v in data.items() %}
                    <div class="radio">
                      <label><input type="radio" id="{{ v }}" value="{{ v }}" name="stations"> {{ k }}</label>
                    </div>
                    {% endfor %}
                </div>
                <br><br>
                <button type="submit" class="btn btn-primary btn-lg">Spara</button>
            </form>
        </div>
            <form method="post" enctype="multipart/form-data" id="slideForm">
                <div class="row">
                    <div class="col">
                        <div class="content col-md-4">
                            <input type="range" min="1" max="100" value="50" class="slider" id="volumeSlide">
                            <div id="sliderAmount"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script>
var slide = document.getElementById('volumeSlide'),
sliderDiv = document.getElementById("sliderAmount");

slide.onchange = function() {
    sliderDiv.innerHTML = this.value;
    $.ajax({
            url: '/volume',
            data: {'volume': this.value},
            type: 'POST',
            success: function(response){
                console.log(response);
            },
            error: function(error){
                console.log(error);
            }
        });
}
</script>
{% endblock %}



