[Unit]
Description=Wait for Network to be Online
Documentation=man:systemd.service(5) man:systemd.special(7)
Conflicts=shutdown.target
After=network.target
Before=network-online.target

[Service]
WorkingDirectory=/home/pi
ExecStart=/home/pi/run_radio.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=RadioPi
User=root
Group=root
[Install]
WantedBy=multi-user.target
